<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <% include partials/nav.ejs %>

    <h1>Contact page</h1>
    <p>Yep, I contact indeed</p>

  </body>
</html>
