<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{background: blue; font-family: verdana; color: #fff; padding: 30px}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center}
      p{font-size: 16px; text-align: center}
    </style>

  </head>
  <body>
    <% include partials/nav.ejs %>
    
    <h1>Contact page</h1>
    <p>Yep, I contact indeed</p>

  </body>
</html>
