<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Here comes <%= person %></h1>
    <p><strong>Age: </strong> <%= data.age %></p>
    <p><strong>Job: </strong> <%= data.job %></p>

  </body>
</html>
